{{#each results}}
<div class="products">
	<h1>{{Brand}}</h1>
	<img src="images/{{imgSmall}}" id={{id}} class="img-rounded" data-toggle="collapse" data-target="#demo">
	
	
	<div id="demo" class="collapse" >
		<h4>{{name}}</h4>
		<div class="">
			<h3>{{name}}  ${{Price}}!!</h3>
			<p>{{Description}}</p>
			<p><img src="images/{{img}}" class="img-rounded" alt="{{name}}"></p>
		</div>
	</div>
</div>
{{/each}}


















































